*{margin: 0px;}
body{
	font-family: 'Open Sans', sans-serif;
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
	width: 400px;
	margin: 10% auto;
}
.login-section{
	padding: 20px;
	border-radius: 10px;
}
.login-section img{
	width: 125px;
	height: 125px;
	margin: 0px auto;
	display: block;
	position: relative;
	top: -93px;
	margin-bottom: -52px;
}
.form-control{
	width: 89%;
	height: 46px;
	padding: 4px 6px 0px 34px;
	border-radius: 7px;
	border: none;
	margin-bottom: 20px;
	background-repeat: no-repeat; 
	background-position: 11px 12px;
	text-indent:17px
}
.login-btn{
	padding: 10px 0px;
	background: #fe5387;
	color: #fff;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	border: none;
	transition: 0.4s;
	border-radius: 5px;
	width: 100%;
	margin: 10px 0px 50px 0px;
}
.login-btn:hover{
	cursor: pointer;
	background-color:#fe316f;
}
#remember{
	color:#9b9ead;
	font-size:15px;
}
.login-section a{
	text-decoration:none;
}
#forget-pw{
	color: #60687f;
	font-size: 14px;
	margin-left: 81px;
}
#icon{
	background-image:url(../img/profile.png); 
}
#icon2{
	background-image:url(../img/lock.png);
}